.header{
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    height: 200px;
}

.header img{
    height: 2rem;
    padding: 0 0.75rem;
}

.header strong{
    font-size: 2rem;
    font-weight: bold;
    color: var(--blue);
}
